@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;
  
  --color-editorial-bg: #F9F8F6;
  --color-editorial-dark: #111827;
  --color-editorial-text: #1A1A1A;
}

@layer base {
  body {
    @apply bg-editorial-bg text-editorial-text antialiased;
  }
}

